<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <ul class="navbar-nav navbar-collapse list_link">
        <li class="nav-item"> <%= link_to back, class: "nav-link" do%>
          <i class='bi bi-arrow-left'></i>
          <%end%>
        </li>
         <%= navbar_links(array) %>
         <%if array.length==1&& out.present?%>
          <li class="nav-item"> <%= link_to out, method: :delete,  class: "nav-link" do%>
            <i class='bi bi-power'></i>
            <%end%>
          </li>
         <%end%>
      </ul> 
  </div>
</nav>
